<div class="nod_item_content" *ngIf="selectedServiceType === 'PROMOTIONAL_RATIO'">
  <div class="nod_item_top">
    <label>开始时间：</label>
    <p-calendar [(ngModel)]="commonSetting['startTime']" (onSelect)="commonSettingData($event)"></p-calendar>
    <label>结束时间：</label>
    <p-calendar [(ngModel)]="commonSetting['endTime']" (onSelect)="commonSettingData($event)"></p-calendar>
    <label>发放截止时间:</label>
    <p-calendar [(ngModel)]="commonSetting['releaseTime']" (onSelect)="commonSettingData($event)"></p-calendar>
    <label>描述:</label>
    <input type="text" pInputText="" [(ngModel)]="commonSetting['description']" (blur)="commonSettingData($event)">
    <label>业务类型:</label>
    <span>{{selectedServiceType === 'PROMOTIONAL_RATIO'? '促销比例':'促销金额'}}</span>
    <p-checkbox name="fast_process" value="" label="快速流程" [(ngModel)]="commonSetting['isFastProcess']"
                (onChange)="commonSettingData($event)" binary="true"></p-checkbox>
    <p-checkbox name="approval_db" value="" label="是否审批DB" [(ngModel)]="commonSetting['isApproval']"
                (onChange)="commonSettingData($event)" binary="true"></p-checkbox>
  </div>

  <!-- 现金开始 -->
  <p-treeTable [value]="files" [(selection)]="selectedFiles"
               [style]="{'margin-top':'10px'}" *ngIf="isCashModule">
    <p-header>
      <div style="float: right;">
        <button pButton type="button" (click)="caoche_amount = !caoche_amount" label="拷车促销金额"></button>
        <button pButton type="button" (click)="jiaoche_amount = !jiaoche_amount" label="交车促销金额"></button>
        <button pButton type="button" (click)="store_amount = !store_amount" label="经销商库存金额"></button>
      </div>
    </p-header>
    <p-footer>
      <button pButton type="button" style="float: left;" (click)="editCarCategory($event)" label="编辑车型车系"></button>
      <button pButton type="button" style="float: right;" (click)="toggleNonCash()" [disabled]="!isCashModule"
              label="非现金"></button>
      <button pButton type="button" style="float: right;" (click)="toggleCash()" [disabled]="isCashModule"
              label="现金"></button>
    </p-footer>
    <p-column field="name" [style]="{'width':'270px'}" header="品牌/车系/车型">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.name" style="width:100%;border:none;">
      </ng-template>
    </p-column>
    <p-column field="msrp" header="MSRP">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.msrp" *ngIf="node.data.level === 2"
               (change)="changeValueByMSRP(node)" style="width:100%;border:none;border-bottom: 1px solid #eee;">
      </ng-template>
    </p-column>
    <p-column field="kaoche_bili" header="拷车促销比例">
      <ng-template let-node="rowData" pTemplate="body">
        <!--<input type="text" [(ngModel)]="node.data.kaoche_bili" style="width:100%;border:none;border-bottom: 1px solid #eee;">-->
        <!--(ngModelChange)="node.data.kaoche_bili = $event"-->
        <!--(blur)="node.data.kaoche_bili = onChangeValue(node,'kaoche_bili','RATIO')"-->
        <input type="text" [(ngModel)]="node.data.kaoche_bili" *ngIf="node.data.level !== 0"
               (change)="node.data.kaoche_bili = onChangeValue(node,'kaoche_bili','RATIO')"
               style="width:65%;border:none;border-bottom: 1px solid #eee;"><span *ngIf="node.data.level !== 0">%</span>
        <p-checkbox [(ngModel)]="node.data.kaoche_bili_check" binary="true" [disabled]="node.data.level === 2"
                    *ngIf="node.data.level !== 0" styleClass="nod_item_box"
                    (onChange)="nodeItemChecked($event,node.data,'kaoche_bili')"></p-checkbox>
      </ng-template>
    </p-column>
    <p-column field="kaoche_jine" *ngIf="caoche_amount" header="拷车促销金额">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.kaoche_jine" *ngIf="node.data.level !== 0"
               (change)="node.data.kaoche_jine = onChangeValue(node,'kaoche_jine','AMOUNT')"
               style="width:65%;border:none;border-bottom: 1px solid #eee;">
        <p-checkbox [(ngModel)]="node.data.kaoche_jine_check" binary="true" [disabled]="node.data.level === 2"
                    *ngIf="node.data.level !== 0" styleClass="nod_item_box"
                    (onChange)="nodeItemChecked($event,node.data,'kaoche_jine')"></p-checkbox>
      </ng-template>
    </p-column>
    <p-column field="jiaoche_bili" header="交车促销比例">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.jiaoche_bili" *ngIf="node.data.level !== 0"
               (change)="node.data.jiaoche_bili = onChangeValue(node,'jiaoche_bili','RATIO')"
               style="width:65%;border:none;border-bottom: 1px solid #eee;"><span *ngIf="node.data.level !== 0">%</span>
        <p-checkbox [(ngModel)]="node.data.jiaoche_bili_check" binary="true" [disabled]="node.data.level === 2"
                    styleClass="nod_item_box" *ngIf="node.data.level !== 0"
                    (onChange)="nodeItemChecked($event,node.data,'jiaoche_bili')"></p-checkbox>
      </ng-template>
    </p-column>
    <p-column field="jiaoche_jine" *ngIf="jiaoche_amount" header="交车促销金额">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.jiaoche_jine" *ngIf="node.data.level !== 0"
               (change)="node.data.jiaoche_jine = onChangeValue(node,'jiaoche_jine','AMOUNT')"
               style="width:65%;border:none;border-bottom: 1px solid #eee;">
        <p-checkbox [(ngModel)]="node.data.jiaoche_jine_check" binary="true" [disabled]="node.data.level === 2"
                    styleClass="nod_item_box" *ngIf="node.data.level !== 0"
                    (onChange)="nodeItemChecked($event,node.data,'jiaoche_jine')"></p-checkbox>
      </ng-template>
    </p-column>
    <p-column field="store_bili" header="经销商库存比例">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.store_bili" *ngIf="node.data.level !== 0"
               (change)="node.data.store_bili = onChangeValue(node,'store_bili','RATIO')"
               style="width:65%;border:none;border-bottom: 1px solid #eee;"><span *ngIf="node.data.level !== 0">%</span>
        <p-checkbox [(ngModel)]="node.data.store_bili_check" binary="true" [disabled]="node.data.level === 2"
                    styleClass="nod_item_box" *ngIf="node.data.level !== 0"
                    (onChange)="nodeItemChecked($event,node.data,'store_bili')"></p-checkbox>
      </ng-template>
    </p-column>
    <p-column field="store_jine" *ngIf="store_amount" header="经销商库存金额">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.store_jine" *ngIf="node.data.level !== 0"
               (change)="node.data.store_jine = onChangeValue(node,'store_jine','AMOUNT')"
               style="width:65%;border:none;border-bottom: 1px solid #eee;">
        <p-checkbox [(ngModel)]="node.data.store_jine_check" binary="true" [disabled]="node.data.level === 2"
                    *ngIf="node.data.level !== 0" styleClass="nod_item_box"
                    (onChange)="nodeItemChecked($event,node.data,'store_jine')"></p-checkbox>
      </ng-template>
    </p-column>
  </p-treeTable>
  <!-- 现金结束 -->
  <!-- 非现金开始 -->
  <p-treeTable [value]="files" [(selection)]="selectedFiles"
               [style]="{'margin-top':'10px'}" *ngIf="!isCashModule">
    <p-header>
      <div style="float: right;">
        <!--<button pButton type="button" (click)="store_amount = !store_amount" label="MSRP"></button>-->
        <button pButton type="button" (click)="singleCar_forcast = !singleCar_forcast" label="单车总预算"></button>
        <button pButton type="button" (click)="financial = !financial" label="金融"></button>
        <!--<button pButton type="button" (click)="extended_insurance = !extended_insurance" label="延保"></button>-->
        <button pButton type="button" (click)="replacement = !replacement" label="置换"></button>
        <button pButton type="button" (click)="insurance = !insurance" label="保险"></button>
        <!--<button pButton type="button" (click)="maintenance = !maintenance" label="保养"></button>-->
        <!--<button pButton type="button" label="条件设置"></button>-->
      </div>
    </p-header>
    <p-footer>
      <button pButton type="button" style="float: left;" (click)="editCarCategory($event)" label="编辑车型车系"></button>
      <button pButton type="button" style="float: right;" (click)="toggleNonCash()" [disabled]="!isCashModule"
              label="非现金"></button>
      <button pButton type="button" style="float: right;" (click)="toggleCash()" [disabled]="isCashModule"
              label="现金"></button>
    </p-footer>
    <p-column field="name" [style]="{'width':'270px'}" header="品牌/车系/车型">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.name" style="width:100%;border:none;">
      </ng-template>
    </p-column>
    <p-column field="msrp" header="MSRP">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.msrp" *ngIf="node.data.level === 2"
               (change)="changeValueByMSRP(node)" style="width:100%;border:none; border-bottom: 1px solid #eee;">
      </ng-template>
    </p-column>
    <p-column field="singleCar_bili" *ngIf="singleCar_forcast" header="单车总预算比例">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.singleCar_bili" *ngIf="node.data.level !== 0"
               (change)="node.data.singleCar_bili = onChangeValue(node,'singleCar_bili','RATIO')"
               style="width:90%;border:none;border-bottom: 1px solid #eee;"><span *ngIf="node.data.level !== 0">%</span>
      </ng-template>
    </p-column>
    <p-column field="singleCar_jine" *ngIf="singleCar_forcast" header="单车总预算金额">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.singleCar_jine" *ngIf="node.data.level !== 0"
               (change)="node.data.singleCar_jine = onChangeValue(node,'singleCar_jine','AMOUNT')"
               style="width:100%;border:none;border-bottom: 1px solid #eee;">
      </ng-template>
    </p-column>
    <p-column field="financial_bili" *ngIf="financial" header="金融单车比例">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.financial_bili" *ngIf="node.data.level !== 0"
               (change)="node.data.financial_bili = onChangeValue(node,'financial_bili','RATIO')"
               style="width:90%;border:none;border-bottom: 1px solid #eee;"><span *ngIf="node.data.level !== 0">%</span>
      </ng-template>
    </p-column>
    <p-column field="financial_jine" *ngIf="financial" header="金融单车金额">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.financial_jine" *ngIf="node.data.level !== 0"
               (change)="node.data.financial_jine = onChangeValue(node,'financial_jine','AMOUNT')"
               style="width:65%;border:none;border-bottom: 1px solid #eee;">
        <p-checkbox [(ngModel)]="node.data.financial_jine_check" binary="true" *ngIf="node.data.level !== 0"
                    styleClass="nod_item_box" [disabled]="node.data.level === 2"
                    (onChange)="nodeItemChecked($event,node.data,'financial_jine')"></p-checkbox>
      </ng-template>
    </p-column>
    <!--<p-column field="yanbao_bili" *ngIf="extended_insurance" header="延保单车比例">-->
    <!--<ng-template let-node="rowData" pTemplate="body">-->
    <!--<input type="text" [(ngModel)]="node.data.yanbao_bili" style="width:100%;border:none;">-->
    <!--</ng-template>-->
    <!--</p-column>-->
    <!--<p-column field="yanbao_jine" *ngIf="extended_insurance" header="延保单车金额">-->
    <!--<ng-template let-node="rowData" pTemplate="body">-->
    <!--<input type="text" [(ngModel)]="node.data.yanbao_jine" style="width:100%;border:none;">-->
    <!--<p-checkbox [(ngModel)]="node.data.yanbao_jine_check" binary="true" styleClass="nod_item_box"-->
    <!--(onChange)="nodeItemChecked($event,node.data,'yanbao_jine')"></p-checkbox>-->
    <!--</ng-template>-->
    <!--</p-column>-->
    <p-column field="replacement_bili" *ngIf="replacement" header="置换单车比例">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.replacement_bili" *ngIf="node.data.level !== 0"
               (change)="node.data.replacement_bili = onChangeValue(node,'replacement_bili','RATIO')"
               style="width:90%;border:none;border-bottom: 1px solid #eee;"><span *ngIf="node.data.level !== 0">%</span>
      </ng-template>
    </p-column>
    <p-column field="replacement_jine" *ngIf="replacement" header="置换单车金额">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.replacement_jine" *ngIf="node.data.level !== 0"
               (change)="node.data.replacement_jine = onChangeValue(node,'replacement_jine','AMOUNT')"
               style="width:65%;border:none;border-bottom: 1px solid #eee;">
        <p-checkbox [(ngModel)]="node.data.replacement_jine_check" binary="true"
                    styleClass="nod_item_box" [disabled]="node.data.level === 2" *ngIf="node.data.level !== 0"
                    (onChange)="nodeItemChecked($event,node.data,'replacement_jine')"></p-checkbox>
      </ng-template>
    </p-column>
    <p-column field="insurance_bili" *ngIf="insurance" header="保险单车比例">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.insurance_bili" *ngIf="node.data.level !== 0"
               (change)="node.data.insurance_bili = onChangeValue(node,'insurance_bili','RATIO')"
               style="width:90%;border:none;border-bottom: 1px solid #eee;"><span *ngIf="node.data.level !== 0">%</span>
      </ng-template>
    </p-column>
    <p-column field="insurance_jine" *ngIf="insurance" header="保险单车金额">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.insurance_jine" *ngIf="node.data.level !== 0"
               (change)="node.data.insurance_jine = onChangeValue(node,'insurance_jine','AMOUNT')"
               style="width:65%;border:none;border-bottom: 1px solid #eee;">
        <p-checkbox [(ngModel)]="node.data.insurance_jine_check" binary="true"
                    styleClass="nod_item_box" [disabled]="node.data.level === 2" *ngIf="node.data.level !== 0"
                    (onChange)="nodeItemChecked($event,node.data,'insurance_jine')"></p-checkbox>
      </ng-template>
    </p-column>
    <!--<p-column field="maintenance_bili" *ngIf="maintenance" header="保养单车比例">-->
    <!--<ng-template let-node="rowData" pTemplate="body">-->
    <!--<input type="text" [(ngModel)]="node.data.maintenance_bili" style="width:100%;border:none;">-->
    <!--</ng-template>-->
    <!--</p-column>-->
    <!--<p-column field="maintenance_jine" *ngIf="maintenance" header="保养单车金额">-->
    <!--<ng-template let-node="rowData" pTemplate="body">-->
    <!--<input type="text" [(ngModel)]="node.data.maintenance_jine" style="width:100%;border:none;">-->
    <!--<p-checkbox [(ngModel)]="node.data.maintenance_jine_check" binary="true" styleClass="nod_item_box"-->
    <!--(onChange)="nodeItemChecked($event,node.data,'maintenance_jine')"></p-checkbox>-->
    <!--</ng-template>-->
    <!--</p-column>-->
  </p-treeTable>
  <!-- 非现金结束 -->


  <!-- 品牌／车系／车型树开始 -->
  <div class="nod_item_bottom">
    <p-dialog [modal]="true" [draggable]="false" [(visible)]="display"
              [closable]="false" [width]="500">
      <p-header>
        <div class="header">品牌/车系/车型</div>
        <div class="searchbox">
          <div class="ui-inputgroup">
            <input type="text" class="searchkey" pInputText placeholder="请输入查询关键字" [(ngModel)]="keyword">
            <button pButton type="button" icon="fa-search" class="ui-button-secondary"></button>
          </div>
        </div>
        <div class="confirm_btn">
          <span style="float: right;cursor: pointer;" (click)="onHide()">确认 ></span>
        </div>
      </p-header>

      <p-tree [value]="carTree | async" selectionMode="checkbox" [(selection)]="selectedCars"
              (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnSelect($event)"></p-tree>
    </p-dialog>
  </div>
  <!-- 品牌／车系／车型树结束 -->
</div>
<div class="nod_item_content" *ngIf="selectedServiceType === 'PROMOTIONAL_AMOUNT'">
  <div class="nod_item_top">
    <label>开始时间：</label>
    <p-calendar [(ngModel)]="commonSetting['startTime']" (onSelect)="commonSettingData($event)"></p-calendar>
    <label>结束时间：</label>
    <p-calendar [(ngModel)]="commonSetting['endTime']" (onSelect)="commonSettingData($event)"></p-calendar>
    <label>发放截止时间:</label>
    <p-calendar [(ngModel)]="commonSetting['releaseTime']" (onSelect)="commonSettingData($event)"></p-calendar>
    <label>描述:</label>
    <input type="text" pInputText="" [(ngModel)]="commonSetting['description']" (blur)="commonSettingData($event)">
    <label>业务类型:</label>
    <span>{{selectedServiceType === 'PROMOTIONAL_RATIO'? '促销比例':'促销金额'}}</span>
    <!--<p-checkbox name="fast_process" value="" label="快速流程" [(ngModel)]="commonSetting['isFastProcess']"-->
    <!--(onChange)="commonSettingData($event)" binary="true"></p-checkbox>-->
    <p-checkbox name="approval_db" value="" label="是否审批DB" [(ngModel)]="commonSetting['isApproval']"
                (onChange)="commonSettingData($event)" binary="true"></p-checkbox>
  </div>

  <!-- 现金开始 -->
  <p-treeTable [value]="files" [(selection)]="selectedFiles"
               [style]="{'margin-top':'10px'}" *ngIf="isCashModule">
    <p-header>
      <div style="float: right; visibility: hidden">
        <button pButton type="button" (click)="caoche_amount = !caoche_amount" label="拷车总金额"></button>
        <button pButton type="button" (click)="jiaoche_amount = !jiaoche_amount" label="交车总金额"></button>
        <button pButton type="button" (click)="store_amount = !store_amount" label="经销商库存总金额"></button>
      </div>
    </p-header>
    <p-footer>
      <button pButton type="button" style="float: left;" (click)="editCarCategory($event)" label="编辑车型车系"></button>
      <button pButton type="button" style="float: right;" (click)="toggleNonCash()" [disabled]="!isCashModule"
              label="非现金"></button>
      <button pButton type="button" style="float: right;" (click)="toggleCash()" [disabled]="isCashModule"
              label="现金"></button>
    </p-footer>
    <p-column field="name" [style]="{'width':'270px'}" header="品牌/车系/车型">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.name" style="width:100%;border:none;">
      </ng-template>
    </p-column>
    <p-column field="msrp" header="MSRP">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.msrp" *ngIf="node.data.level === 2"
               style="width:100%;border:none;border-bottom: 1px solid #eee;">
      </ng-template>
    </p-column>
    <p-column field="cash_total_amount" header="总金额">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.cash_total_amount" *ngIf="node.total_amount_count === 0"
               (change)="node.cash_total_amount = onChangeValue(node,'cash_total_amount','AMOUNT')"
               style="width:100%;border:none;border-bottom: 1px solid #eee;">
      </ng-template>
    </p-column>
    <!--<p-column field="jiaoche_total_amount" header="交车总金额">-->
    <!--<ng-template let-node="rowData" pTemplate="body">-->
    <!--<input type="text" [(ngModel)]="node.data.jiaoche_total_amount" *ngIf="node.data.level === 0"-->
    <!--style="width:100%;border:none;">-->
    <!--</ng-template>-->
    <!--</p-column>-->
    <!--<p-column field="store_total_amount" header="经销商库存总金额">-->
    <!--<ng-template let-node="rowData" pTemplate="body">-->
    <!--<input type="text" [(ngModel)]="node.data.store_total_amount" *ngIf="node.data.level === 0"-->
    <!--style="width:100%;border:none;">-->
    <!--</ng-template>-->
    <!--</p-column>-->
  </p-treeTable>
  <!-- 现金结束 -->
  <!-- 非现金开始 -->
  <p-treeTable [value]="files" [(selection)]="selectedFiles"
               [style]="{'margin-top':'10px'}" *ngIf="!isCashModule">
    <p-header>
      <div style="float: right;">
        <!--<button pButton type="button" (click)="store_amount = !store_amount" label="MSRP"></button>-->
        <button pButton type="button" (click)="financial = !financial" label="金融"></button>
        <!--<button pButton type="button" (click)="extended_insurance = !extended_insurance" label="延保"></button>-->
        <button pButton type="button" (click)="replacement = !replacement" label="置换"></button>
        <button pButton type="button" (click)="insurance = !insurance" label="保险"></button>
        <!--<button pButton type="button" (click)="maintenance = !maintenance" label="保养"></button>-->
        <!--<button pButton type="button" label="条件设置"></button>-->
      </div>
    </p-header>
    <p-footer>
      <button pButton type="button" style="float: left;" (click)="editCarCategory($event)" label="编辑车型车系"></button>
      <button pButton type="button" style="float: right;" (click)="toggleNonCash()" [disabled]="!isCashModule"
              label="非现金"></button>
      <button pButton type="button" style="float: right;" (click)="toggleCash()" [disabled]="isCashModule"
              label="现金"></button>
    </p-footer>
    <p-column field="name" [style]="{'width':'270px'}" header="品牌/车系/车型">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.name" style="width:100%;border:none;">
      </ng-template>
    </p-column>
    <p-column field="msrp" header="MSRP">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.data.msrp" *ngIf="node.data.level === 2"
               style="width:100%;border:none;border-bottom: 1px solid #eee;">
      </ng-template>
    </p-column>
    <p-column field="nocash_total_amount" header="总金额">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.nocash_total_amount" *ngIf="node.total_amount_count === 0"
               (change)="node.nocash_total_amount = onChangeValue(node,'nocash_total_amount','AMOUNT')"
               style="width:100%;border:none;border-bottom: 1px solid #eee;">
      </ng-template>
    </p-column>
    <p-column field="financial_total_amount" *ngIf="financial" header="金融">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.financial_total_amount" *ngIf="node.total_amount_count === 0"
               (change)="node.financial_total_amount = onChangeValue(node,'financial_total_amount','AMOUNT')"
               style="width:80%;border:none;border-bottom: 1px solid #eee;">
        <p-checkbox [(ngModel)]="node.financial_total_amount_check" binary="true" *ngIf="node.total_amount_count === 0"
                    styleClass="nod_item_box"></p-checkbox>
      </ng-template>
    </p-column>
    <!--<p-column field="yanbao_total_amount" *ngIf="extended_insurance" header="延保">-->
    <!--<ng-template let-node="rowData" pTemplate="body">-->
    <!--<input type="text" [(ngModel)]="node.data.yanbao_total_amount" *ngIf="node.data.level === 0"-->
    <!--style="width:100%;border:none;">-->
    <!--</ng-template>-->
    <!--</p-column>-->
    <p-column field="replacement_total_amount" *ngIf="replacement" header="置换">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.replacement_total_amount" *ngIf="node.total_amount_count === 0"
               (change)="node.replacement_total_amount = onChangeValue(node,'replacement_total_amount','AMOUNT')"
               style="width:80%;border:none;border-bottom: 1px solid #eee;">
        <p-checkbox [(ngModel)]="node.replacement_total_amount_check" binary="true"
                    *ngIf="node.total_amount_count === 0"
                    styleClass="nod_item_box"></p-checkbox>
      </ng-template>
    </p-column>
    <p-column field="insurance_total_amount" *ngIf="insurance" header="保险">
      <ng-template let-node="rowData" pTemplate="body">
        <input type="text" [(ngModel)]="node.insurance_total_amount" *ngIf="node.total_amount_count === 0"
               (change)="node.insurance_total_amount = onChangeValue(node,'insurance_total_amount','AMOUNT')"
               style="width:80%;border:none;border-bottom: 1px solid #eee;">
        <p-checkbox [(ngModel)]="node.insurance_total_amount_check" binary="true" *ngIf="node.total_amount_count === 0"
                    styleClass="nod_item_box"></p-checkbox>
      </ng-template>
    </p-column>
    <!--<p-column field="maintenance_total_amount" *ngIf="maintenance" header="保养">-->
    <!--<ng-template let-node="rowData" pTemplate="body">-->
    <!--<input type="text" [(ngModel)]="node.data.maintenance_total_amount" *ngIf="node.data.level === 0"-->
    <!--style="width:100%;border:none;">-->
    <!--</ng-template>-->
    <!--</p-column>-->
  </p-treeTable>
  <!-- 非现金结束 -->


  <!-- 品牌／车系／车型树开始 -->
  <div class="nod_item_bottom">
    <p-dialog [modal]="true" [draggable]="false" [(visible)]="display"
              [closable]="false" [width]="500">
      <p-header>
        <div class="header">品牌/车系/车型</div>
        <div class="searchbox">
          <div class="ui-inputgroup">
            <input type="text" class="searchkey" pInputText placeholder="请输入查询关键字" [(ngModel)]="keyword">
            <button pButton type="button" icon="fa-search" class="ui-button-secondary"></button>
          </div>
        </div>
        <div class="confirm_btn">
          <span style="float: right;cursor: pointer;" (click)="onHide()">确认 ></span>
        </div>
      </p-header>

      <p-tree [value]="carTree | async" selectionMode="checkbox" [(selection)]="selectedCars"
              (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnSelect($event)"></p-tree>
      <!--<div>Selected Nodes: <span *ngFor="let file of selectedCars">{{file.label}} </span></div>-->
    </p-dialog>
  </div>
  <!-- 品牌／车系／车型树结束 -->
</div>
