.nod_item_page {
  .ui-button-text-only .ui-button-text {
    padding: 2px 5px !important;
  }
}

.ui-inputtext {
  width: 90px;
  margin-right: 5px;
}

.ui-chkbox .ui-chkbox-box {
  margin-left: 5px;
}

.ui-treetable .ui-treetable-footer {
  overflow: hidden;
}

.ui-treetable .ui-treetable-header {
  overflow: hidden;
}

.ui-state-highlight {
  //background: none;
  //border-color: transparent;
}

.ui-treetable .ui-treetable-row.ui-treetable-row-selectable:not(.ui-state-highlight):hover {
  background: none;
}

.ui-tree {
  width: 100%;
}

.ui-tree .ui-tree-container {
  overflow-x: hidden;
}

.nod_item_bottom {
  .ui-widget-content {
    border: none;
  }

  .ui-state-highlight {
    color: #212121;
    background: none;
  }

  .ui-dialog-title {
    font-size: 14px !important;
    font-weight: bold;
    line-height: 26px;
  }

  .ui-inputtext {
    width: 100%;
    margin-right: 0;
  }

  .header, .searchbox {
    float: left;
  }

  .confirm_btn {
    float: right;
  }

  .searchbox {
    width: 200px;
    margin-left: 20px;
    font-weight: normal;
  }
}

.nod_item_box {
  float: right;
}

.updateItem_area {
  .nod_item_box {
    float: right;
    margin-top: 4px;
  }
}

.nod_item_serviceType {
  .ui-dialog-content.ui-widget-content {
    height: 120px;
    text-align: center;
  }
}

.nod_item_toolbars {
  .ui-widget-content {
    border: none;
  }
}

.annual_policy {
  .ui-widget-content {
    height: 25px;
  }
}

.nod_item_content {
  .ui-widget-content {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
  }

  .ui-treetable-footer.ui-widget-header {
    border-top: 1px solid #d9d9d9;
  }
}

.bonus_setting_page {
  .calendar {
    .ui-inputtext {
      width: 135px;
    }
  }

  .nodSearch {
    .ui-dialog .ui-dialog-titlebar-close {
      padding: 0;
    }
  }

  p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box {
    border-bottom-color: #c0c0c0;
  }
}

.createItem_area, .updateItem_area, .saveItem_area {
  .ui-panel .ui-panel-titlebar-icon {
    float: none;
    position: absolute;
    left: 5px;
  }

  .ui-panel.ui-widget .ui-panel-titlebar {
    position: relative;
    border-width: 0;
    height: 40px;
    padding-top: 12px;
  }

  .ui-panel .ui-panel-content {
    padding: 0;
  }

  .ui-datatable-scrollable-header {
    overflow: inherit;
  }

  .ui-widget-content {
    //overflow-x: auto;
  }
}

.createItem {
  .ui-button-text {
    padding: 3px 5px;
  }
}

.edit_area {
  .ui-inputtext {
    //width: 200px;
  }
}

.saveItem_area {
  .ui-datatable .ui-datatable-data > tr > td {
    padding: 5px;
  }
}

.nod_item_page, .annual_policy {
  .saveResult {
    .ui-growl-item-container {
      height: 100px;
    }
  }

  .ui-growl {
    position: fixed;
    top: 40%;
    left: 45%;
    width: 22em;
  }

  .ui-growl-image {
    position: absolute;
    display: inline-block;
    left: .5em;
    top: 20px;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 30px;
    padding: 5px;
  }

  .ui-growl-message {
    padding: 0 0 .25em 0;
    margin-left: 93px;
    margin-top: 20px;
  }

  .ui-growl-message p {
    font-weight: bold;
    font-size: 25px;
  }

  .fa-2x {
    font-size: 50px;
    color: #4CAF50;
  }

  .fa-close {
    //color: #f44336;
    text-align: center;
  }

  .ui-growl-icon-close.fa.fa-close {
    display: none;
  }
}

.updateItem_area {
  .ui-datatable-scrollable-view {
    overflow-x: hidden;
  }
}
