.nod_item_page {
  .ui-button-text-only .ui-button-text {
    padding: 2px 5px !important;
  }
}

.ui-inputtext {
  width: 90px;
  margin-right: 5px;
}

.ui-chkbox .ui-chkbox-box {
  margin-left: 5px;
}

.ui-treetable .ui-treetable-footer {
  overflow: hidden;
}

.ui-treetable .ui-treetable-header {
  overflow: hidden;
}

.ui-state-highlight {
  //background: none;
  //border-color: transparent;
}

.ui-treetable .ui-treetable-row.ui-treetable-row-selectable:not(.ui-state-highlight):hover {
  background: none;
}

.ui-tree {
  width: 100%;
}

.ui-tree .ui-tree-container {
  overflow-x: hidden;
}

.nod_item_bottom {
  .ui-widget-content {
    border: none;
  }

  .ui-state-highlight {
    color: #212121;
    background: none;
  }

  .ui-dialog-title {
    font-size: 14px !important;
    font-weight: bold;
    line-height: 26px;
  }

  .ui-inputtext {
    width: 100%;
    margin-right: 0;
  }

  .header, .searchbox {
    float: left;
  }

  .confirm_btn {
    float: right;
  }

  .searchbox {
    width: 200px;
    margin-left: 20px;
    font-weight: normal;
  }
}

.nod_item_box {
  float: right;
}

.nod_item_serviceType {
  .ui-dialog-content.ui-widget-content {
    height: 120px;
    text-align: center;
  }
}

.nod_item_toolbars {
  .ui-widget-content {
    border: none;
  }
}

.annual_policy {
  .ui-widget-content {
    height: 25px;
  }
}

.nod_item_content {
  .ui-widget-content {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
  }

  .ui-treetable-footer.ui-widget-header {
    border-top:1px solid #d9d9d9;
  }
}

