<div class="updateItem_area">
  <p-panel [toggleable]="true">
    <p-header>
      <h4>创建新Item</h4>
      <button pButton class="saveItem" [disabled]="!(selectedDBDatas && selectedDBDatas.length > 0)" label="保存"></button>
    </p-header>

    <div class="edit_area" *ngIf="selectedDBDatas && selectedDBDatas.length > 0">
      <label for="desc">ITEM描述:</label>
      <input type="text" size="60" id="desc" pInputText>
      <p-checkbox name="fast_process" class="fast_process" value="" label="快速流程" binary="true"></p-checkbox>
      <label for="bonusType" class="ui-chkbox-label">奖金类型:</label>
      <p-dropdown id="bonusType" class="bonusType" [style]="{'width':'16%'}" [options]="createdTypes"
                  [(ngModel)]="selectedType" placeholder="请选择创建类型"></p-dropdown>
      <label>开始时间：</label>
      <p-calendar></p-calendar>
      <label>结束时间：</label>
      <p-calendar></p-calendar>
      <label for="percentage">比例</label>
      <input type="text" size="60" id="percentage" [(ngModel)]="percentage" (change)="changeValueByPercent()" pInputText>%
    </div>

    <p-dataTable [value]="editedDBDatas" scrollable="true" *ngIf="selectedDBDatas && selectedDBDatas.length > 0">
      <p-column field="nodNumber" [style]="{'width':'120px'}" header="NOD/DB号"></p-column>
      <p-column field="nodItemNumber" [style]="{'width':'180px'}" header="Item"></p-column>
      <p-column field="carSeries" [style]="{'width':'60px'}" header="车系"></p-column>
      <p-column field="financialDescription" [style]="{'width':'130px'}" header="财务描述"></p-column>
      <p-column field="msrp" [style]="{'width':'70px'}" header="MSRP"></p-column>
      <p-column field="itemType" [style]="{'width':'80px'}" header="类型">
        <ng-template let-col let-db="rowData" pTemplate="body">
          {{db[col.field] === '1' ? '促销比例' : '总金额'}}
        </ng-template>
      </p-column>
      <p-column field="callOffPromotionPercent" [style]="{'width':'100px'}" header="拷车比例">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText style="width:30px" [(ngModel)]="db[col.field]" (change)="valueChange(db,col.field)">%
          <!--{{db[col.field]}}%-->
          <p-checkbox [(ngModel)]="db['isCallOffPromotionPercent']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
        </ng-template>
      </p-column>
      <p-column field="callOffPromotionAmount" [style]="{'width':'140px'}" header="拷车金额">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText [(ngModel)]="db[col.field]">
          <!--{{db[col.field]}}-->
          <p-checkbox [(ngModel)]="db['isCallOffPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
        </ng-template>
      </p-column>
      <p-column field="deliveryPromotionPercent" [style]="{'width':'100px'}" header="交车比例">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText style="width:30px" [(ngModel)]="db[col.field]" (change)="valueChange(db,col.field)">%
          <!--{{db[col.field]}}%-->
          <p-checkbox [(ngModel)]="db['isDeliveryPromotionPercent']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
        </ng-template>
      </p-column>
      <p-column field="deliveryPromotionAmount" [style]="{'width':'140px'}" header="交车金额">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText [(ngModel)]="db[col.field]">
          <!--{{db[col.field]}}-->
          <p-checkbox [(ngModel)]="db['isDeliveryPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
        </ng-template>
      </p-column>
      <p-column field="dealerInventoryPercent" [style]="{'width':'100px'}" header="经销商库存比例">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText style="width:30px" [(ngModel)]="db[col.field]" (change)="valueChange(db,col.field)">%
          <!--{{db[col.field]}}%-->
          <p-checkbox [(ngModel)]="db['isDealerInventoryPercent']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
        </ng-template>
      </p-column>
      <p-column field="dealerInventoryAmount" [style]="{'width':'140px'}" header="经销商库存金额">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText [(ngModel)]="db[col.field]">
          <!--{{db[col.field]}}-->
          <p-checkbox [(ngModel)]="db['isDealerInventoryAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
        </ng-template>
      </p-column>
      <p-column field="singlecarTotalBudgetPercent" [style]="{'width':'100px'}" header="单车总预算比例">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText style="width:30px" [(ngModel)]="db[col.field]" (change)="valueChange(db,col.field)">%
          <!--{{db[col.field]}}%-->
        </ng-template>
      </p-column>
      <p-column field="singlecarTotalBudgetAmount" [style]="{'width':'140px'}" header="单车总预算金额">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText [(ngModel)]="db[col.field]">
          <!--{{db[col.field]}}-->
        </ng-template>
      </p-column>
      <!-- Dynamic Field -->
      <p-column field="financial" [style]="{'width':'100px'}" header="金融比例">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText style="width:30px" *ngIf="db[col.field]" (change)="valueChange(db,col.field)"
                 [(ngModel)]="db[col.field][col.field + 'Percent']">
          <!--{{db[col.field]? db[col.field][col.field + 'Percent']:''}}-->
          <span *ngIf="db[col.field]">%</span>
        </ng-template>
      </p-column>
      <p-column field="financial" [style]="{'width':'140px'}" header="金融金额">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText *ngIf="db[col.field]" [(ngModel)]="db[col.field][col.field + 'Amount']">
          <!--{{db[col.field]? db[col.field][col.field + 'Amount']:''}}-->
          <p-checkbox *ngIf="db[col.field]" [(ngModel)]="db[col.field]['isFinancialPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
        </ng-template>
      </p-column>
      <p-column field="insurance" [style]="{'width':'100px'}" header="保险比例">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText style="width:30px" *ngIf="db[col.field]" (change)="valueChange(db,col.field)"
                 [(ngModel)]="db[col.field][col.field + 'Percent']">
          <!--{{db[col.field]? db[col.field][col.field + 'Percent']:''}}-->
          <span *ngIf="db[col.field]">%</span>
        </ng-template>
      </p-column>
      <p-column field="insurance" [style]="{'width':'140px'}" header="保险金额">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText *ngIf="db[col.field]" [(ngModel)]="db[col.field][col.field + 'Amount']">
          <!--{{db[col.field]? db[col.field][col.field + 'Amount']:''}}-->
          <p-checkbox *ngIf="db[col.field]" [(ngModel)]="db[col.field]['isInsurancePromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
        </ng-template>
      </p-column>
      <p-column field="replacement" [style]="{'width':'100px'}" header="置换比例">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText style="width:30px" *ngIf="db[col.field]" (change)="valueChange(db,col.field)"
                 [(ngModel)]="db[col.field][col.field + 'Percent']">
          <!--{{db[col.field]? db[col.field][col.field + 'Percent']:''}}-->
          <span *ngIf="db[col.field]">%</span>
        </ng-template>
      </p-column>
      <p-column field="replacement" [style]="{'width':'140px'}" header="置换金额">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText *ngIf="db[col.field]" [(ngModel)]="db[col.field][col.field + 'Amount']">
          <!--{{db[col.field]? db[col.field][col.field + 'Amount']:''}}-->
          <p-checkbox *ngIf="db[col.field]" [(ngModel)]="db[col.field]['isReplacementPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
        </ng-template>
      </p-column>
      <p-column field="expandInsurance" [style]="{'width':'100px'}" header="延保比例">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText style="width:30px" *ngIf="db[col.field]" (change)="valueChange(db,col.field)"
                 [(ngModel)]="db[col.field][col.field + 'Percent']">
          <!--{{db[col.field]? db[col.field][col.field + 'Percent']:''}}-->
          <span *ngIf="db[col.field]">%</span>
        </ng-template>
      </p-column>
      <p-column field="expandInsurance" [style]="{'width':'140px'}" header="延保金额">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText *ngIf="db[col.field]" [(ngModel)]="db[col.field][col.field + 'Amount']">
          <!--{{db[col.field]? db[col.field][col.field + 'Amount']:''}}-->
          <p-checkbox *ngIf="db[col.field]" [(ngModel)]="db[col.field]['isExpandInsurancetPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
        </ng-template>
      </p-column>
      <p-column field="maintain" [style]="{'width':'100px'}" header="保养比例">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText style="width:30px" *ngIf="db[col.field]" (change)="valueChange(db,col.field)"
                 [(ngModel)]="db[col.field][col.field + 'Percent']">
          <!--{{db[col.field]? db[col.field][col.field + 'Percent']:''}}-->
          <span *ngIf="db[col.field]">%</span>
        </ng-template>
      </p-column>
      <p-column field="maintain" [style]="{'width':'140px'}" header="保养金额">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText *ngIf="db[col.field]" [(ngModel)]="db[col.field][col.field + 'Amount']">
          <!--{{db[col.field]? db[col.field][col.field + 'Amount']:''}}-->
          <p-checkbox *ngIf="db[col.field]" [(ngModel)]="db[col.field]['isMaintainPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
        </ng-template>
      </p-column>
      <p-column field="attachment" [style]="{'width':'100px'}" header="附件比例">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText style="width:30px" *ngIf="db[col.field]" (change)="valueChange(db,col.field)"
                 [(ngModel)]="db[col.field][col.field + 'Percent']">
          <!--{{db[col.field]? db[col.field][col.field + 'Percent']:''}}-->
          <span *ngIf="db[col.field]">%</span>
        </ng-template>
      </p-column>
      <p-column field="attachment" [style]="{'width':'140px'}" header="附件金额">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText *ngIf="db[col.field]" [(ngModel)]="db[col.field][col.field + 'Amount']">
          <!--{{db[col.field]? db[col.field][col.field + 'Amount']:''}}-->
          <p-checkbox *ngIf="db[col.field]" [(ngModel)]="db[col.field]['isAttachmentPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
        </ng-template>
      </p-column>
      <p-column field="onStar" [style]="{'width':'100px'}" header="onStar比例">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText style="width:30px" *ngIf="db[col.field]" (change)="valueChange(db,col.field)"
                 [(ngModel)]="db[col.field][col.field + 'Percent']">
          <!--{{db[col.field]? db[col.field][col.field + 'Percent']:''}}-->
          <span *ngIf="db[col.field]">%</span>
        </ng-template>
      </p-column>
      <p-column field="onStar" [style]="{'width':'140px'}" header="onStar金额">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText *ngIf="db[col.field]" [(ngModel)]="db[col.field][col.field + 'Amount']">
          <!--{{db[col.field]? db[col.field][col.field + 'Amount']:''}}-->
          <p-checkbox *ngIf="db[col.field]" [(ngModel)]="db[col.field]['isOnStarPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
        </ng-template>
      </p-column>
      <p-column field="assignment" [style]="{'width':'100px'}" header="融资租赁-签约比例">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText style="width:30px" *ngIf="db[col.field]" (change)="valueChange(db,col.field)"
                 [(ngModel)]="db[col.field][col.field + 'Percent']">
          <!--{{db[col.field]? db[col.field][col.field + 'Percent']:''}}-->
          <span *ngIf="db[col.field]">%</span>
        </ng-template>
      </p-column>
      <p-column field="assignment" [style]="{'width':'140px'}" header="融资租赁-签约金额">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText *ngIf="db[col.field]" [(ngModel)]="db[col.field][col.field + 'Amount']">
          <!--{{db[col.field]? db[col.field][col.field + 'Amount']:''}}-->
          <p-checkbox *ngIf="db[col.field]" [(ngModel)]="db[col.field]['isAssignmentPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
        </ng-template>
      </p-column>
      <p-column field="purchase" [style]="{'width':'100px'}" header="融资租赁-回购比例">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText style="width:30px" *ngIf="db[col.field]" (change)="valueChange(db,col.field)"
                 [(ngModel)]="db[col.field][col.field + 'Percent']">
          <!--{{db[col.field]? db[col.field][col.field + 'Percent']:''}}-->
          <span *ngIf="db[col.field]">%</span>
        </ng-template>
      </p-column>
      <p-column field="purchase" [style]="{'width':'140px'}" header="融资租赁-回购金额">
        <ng-template let-col let-db="rowData" pTemplate="body">
          <input type="text" pInputText *ngIf="db[col.field]" [(ngModel)]="db[col.field][col.field + 'Amount']">
          <!--{{db[col.field]? db[col.field][col.field + 'Amount']:''}}-->
          <p-checkbox *ngIf="db[col.field]" [(ngModel)]="db[col.field]['isPurchasePromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
        </ng-template>
      </p-column>
    </p-dataTable>
  </p-panel>
</div>
