.updateItem_area {
  margin-top: 15px;
  //overflow-x: hidden;

  h4 {
    position: absolute;
    left: 36px;
  }

  .saveItem {
    position: absolute;
    right: 5px;
    top: 7px;
  }

  .edit_area {
    padding: 10px;

    p {
      margin-bottom: 10px;
    }

    #desc {
      width: 800px;
    }

    .fast_process, .bonusType {
      margin-right: 10px;
    }
  }
}
