.updateItem_area {
  margin-top: 15px;
  //overflow-x: hidden;

  h4 {
    position: absolute;
    left: 36px;
  }

  .saveItem {
    position: absolute;
    right: 5px;
    top: 7px;
  }

  .uploadList {
    position: absolute;
    right: 68px;
    top: 7px;
    padding: 5px 10px;
    overflow: hidden;

    border: 1px solid #2399e5;
    color: #FFFFFF;
    background: #2399e5;
    transition: background-color .2s;
    border-radius: 3px;
    cursor: pointer;

    input {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
      -ms-filter: 'alpha(opacity=0)';
      cursor: pointer;
    }
  }

  .downloadList {
    position: absolute;
    right: 148px;
    top: 7px;
  }

  .edit_area {
    padding: 10px;

    p {
      margin-bottom: 10px;
    }

    #desc {
      width: 800px;
    }

    .fast_process, .bonusType {
      margin-right: 10px;
    }
  }
}
