<div class="bonus_setting_page">
  <form [formGroup]="nodSettingForm" (submit)="toNodMainPage(nodSettingForm.value)" novalidate>
    <div class="form-group">
      <label for="description">主题:</label>
      <input id="description" type="text" pInputText="" formControlName="description">
      <div class="errorInfo" *ngIf="!nodSettingForm.controls['description'].valid
       && nodSettingForm.controls['description'].dirty">
        <div class="ui-message ui-messages-error ui-corner-all ui-error">
          <i class="fa fa-close"></i>
          描述选项必须填写
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="createdType">创建类型:</label>
      <p-dropdown id="createdType" [style]="{'width':'70%'}" [options]="createdTypes" formControlName="createdType"
                  [(ngModel)]="selectedType" placeholder="请选择创建类型"></p-dropdown>
      <div class="errorInfo" *ngIf="!nodSettingForm.controls['createdType'].valid
      && nodSettingForm.controls['createdType'].dirty">
        <div class="ui-message ui-messages-error ui-corner-all ui-error">
          <i class="fa fa-close"></i>
          创建类型选项必须选择
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="department">使用部门:</label>
      <p-dropdown id="department" [style]="{'width':'70%'}" [options]="departments" formControlName="department"
                  [(ngModel)]="selectedDep" placeholder="请选择部门"></p-dropdown>
      <div class="errorInfo" *ngIf="!nodSettingForm.controls['department'].valid
      && nodSettingForm.controls['department'].dirty">
        <div class="ui-message ui-messages-error ui-corner-all ui-error">
          <i class="fa fa-close"></i>
          使用部门选项必须选择
        </div>
      </div>
    </div>
    <!--<div>{{selectedDep?.deptName}}</div>-->
    <div class="form-group">
      <label for="year">年份:</label>
      <p-dropdown id="year" [style]="{'width':'70%'}" [options]="years" formControlName="year"
                  [(ngModel)]="selectedYear" placeholder="请选择年份"></p-dropdown>
      <div class="errorInfo" *ngIf="!nodSettingForm.controls['year'].valid
      && nodSettingForm.controls['year'].dirty">
        <div class="ui-message ui-messages-error ui-corner-all ui-error">
          <i class="fa fa-close"></i>
          年份选项必须选择
        </div>
      </div>
    </div>
    <button pButton type="submit" [disabled]="!nodSettingForm.valid" label="下一步"></button>
  </form>
</div>
