<div class="annual_policy">
  <p-dataTable [value]="datas | async" [editable]="true"
               [paginator]="false" rows="15" [responsive]="true">
    <p-header>年度政策</p-header>
    <p-column field="rowNumber" header="行号" [editable]="true"></p-column>
    <p-column field="bonusTypeCode" header="奖金类型编码" [editable]="true"></p-column>
    <p-column field="bonusTypeDesc" header="奖金类型描述" [editable]="true"></p-column>
    <p-column field="issueBasis" header="发放依据" [editable]="true"></p-column>
    <p-column field="singleCarPoint" header="单车点数" [editable]="true"></p-column>
    <p-column field="totalAmount" header="总金额" [editable]="true"></p-column>
    <p-column field="expiration" header="输入有效期" [editable]="true"></p-column>
    <p-column field="remarks" header="备注" [editable]="true"></p-column>
    <p-footer>
      <div class="ui-helper-clearfix" style="width:100%">
        <button type="button" pButton icon="fa-plus" style="float:left"
                (click)="addData()" label="增加">
        </button>
        <button type="button" pButton icon="fa-plus" style="float:left"
                (click)="saveData()" label="保存">
        </button>
      </div>
    </p-footer>
  </p-dataTable>
</div>
