.bonus_setting_page {
  width: 400px;
  margin: 0 auto;

  .form-group {
    position: relative;
    margin: 10px 0;
  }

  label {
    display: inline-block;
    width: 24%;
  }

  input {
    width: 70%;
  }

  button {
    width: 95%;
    margin-top: 20px;
  }

  button[type=submit] {
    width: 47%;
    margin-top: 20px;
  }

  .btn {
    width: 60%;
    margin-top: 0;
  }

  .preview {
    width: 8%;
    margin-top: 0;
  }

  .errorInfo {
    position: absolute;
    top: 3px;
    left: 387px;
  }

  .ui-error {
    width: 300px;
  }

  .nodSearch {
    .header {
      float: left;
      font-size: 14px;
    }

    .search_content {
      margin-top: 20px;
      text-align: center;

      button {
        width: 30%;
      }
    }
  }

  .datalist {
    .header {
      float: left;
      font-size: 14px;
    }

    .content {
      margin: 0 0 20px 0;

      .delete_icon {
        display: inline-block;
        width: 14px;
        height: 15px;
        background: url("../../../../assets/images/icon.png") no-repeat;
        background-position: 0 -13px;
        background-size: 100%;
        position: relative;
        top: 2px;
        left: 5px;
        cursor: pointer;
      }
    }

    h4 {
      padding-bottom: 5px;
      border-bottom: 1px solid #dbdbdb;
      margin-bottom: 10px;
    }

    p {
      margin: 10px 0;
    }
  }
}
