<div class="bonus_setting_page">
  <form [formGroup]="dbSettingForm" (submit)="toNodMainPage(dbSettingForm.value,isCombination)" novalidate>
    <div class="form-group">
      <label for="description">描述:</label>
      <input id="description" type="text" pInputText="" formControlName="description">
    </div>
    <div class="form-group">
      <label for="department">使用部门:</label>
      <p-dropdown id="department" [style]="{'width':'70%'}" [options]="departments" formControlName="department"
                  [(ngModel)]="selectedDep" placeholder="请选择部门" required></p-dropdown>
      <div class="errorInfo" *ngIf="!dbSettingForm.controls['department'].valid
      && dbSettingForm.controls['department'].dirty">
        <div class="ui-message ui-messages-error ui-corner-all ui-error">
          <i class="fa fa-close"></i>
          使用部门选项必须选择
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="createdType">查询类型:</label>
      <p-checkbox name="reportType" value="1" label="促销方式" [(ngModel)]="selectedType" formControlName="selectedType"></p-checkbox>
      <p-checkbox name="reportType" value="2" label="年度政策" [(ngModel)]="selectedType" formControlName="selectedType"></p-checkbox>
    </div>
    <div class="form-group">
      <label>期间:</label>
      <p-calendar class="calendar" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [(ngModel)]="startTime" formControlName="startTime"></p-calendar>
      <p-calendar class="calendar" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [(ngModel)]="endTime" formControlName="endTime"></p-calendar>
    </div>
    <div class="form-group">
      <label>NOD号:</label>
      <button class="btn" type="button" pButton (click)="searchNodNumber()" label="添加NOD号"></button>
      <button class="preview" type="button" pButton icon="fa fa-file-text-o" (click)="showSearchedDataList()"></button>
    </div>
    <div class="form-group">
      <label>DB号:</label>
      <button class="btn" type="button" pButton (click)="searchDBNumber()" label="添加DB号"></button>
      <button class="preview" type="button" pButton icon="fa fa-file-text-o" (click)="showSearchedDataList()"></button>
    </div>
    <div class="form-group" style="text-align: right; margin-right: 20px;">
      <p-checkbox label="是否计算Saving" binary="true" formControlName="isCalSavingAmount"></p-checkbox>
    </div>

    <button pButton type="submit" style="margin-left: 100px;" [disabled]="!(dbSettingForm.valid && searchedNODDataList.length > 0)" label="创建" (click)="combinationValue(2)"></button>
    <!--<button pButton type="submit" [disabled]="!(dbSettingForm.valid && searchedNODDataList.length > 0)" label="合并" (click)="combinationValue(1)"></button>-->
    <!--<button pButton type="submit" [disabled]="!(dbSettingForm.valid && searchedNODDataList.length > 0)" label="不合并" (click)="combinationValue(2)"></button>-->
  </form>

  <!-- 报表浏览 -->
  <div class="reportView">
    <button pButton type="button" icon="fa fa-file-text-o" (click)="reportViewDownload()" label="报表浏览"></button>
  </div>

  <p-dialog class="nodSearch" [modal]="true" [draggable]="true" [(visible)]="nodSearchDialog"
            [closable]="true" [width]="500" (onHide)="onHide()">
    <p-header>
      <div class="header">NOD搜索</div>
    </p-header>

    <div class="search">
      <input id="nodSearch" type="text" size="30" pInputText [placeholder]="placeholder"
             (focus)="onFocus()" (blur)="onBlur()" [(ngModel)]="nodSearchText">
    </div>

    <div class="search_content">
      <p-dataTable [value]="nodSearchedDatas | async" [(selection)]="selectedNod" scrollable="true"
                   (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
                   scrollHeight="200px">
        <p-column [style]="{'width':'50px'}" selectionMode="multiple"></p-column>
        <p-column field="nodNumber" [style]="{width:'200px'}" header="NOD号"></p-column>
        <p-column field="description" header="描述"></p-column>
      </p-dataTable>

      <button pButton type="button" [disabled]="selectedNod === undefined || selectedNod?.length === 0"
              (click)="addNodSearchedData()" label="添加"></button>
    </div>
  </p-dialog>

  <p-dialog class="datalist" [modal]="true" [draggable]="false" [(visible)]="dataListDialog"
            [closable]="true" [width]="500">
    <p-header>
      <div class="header">添加详情清单</div>
    </p-header>

    <div class="content">
      <h4>NOD号</h4>
      <div *ngIf="searchedNODDataList === undefined || searchedNODDataList?.length === 0">
        暂无数据
      </div>
      <div *ngIf="searchedNODDataList?.length > 0">
        <p *ngFor="let nod of searchedNODDataList | orderBy:'nodNumber';let i = index">
          <span>{{nod.nodNumber}} : {{nod.description}}</span>
          <span class="delete_icon" (click)="delNodSearchedDatas(i)"></span>
        </p>
      </div>
    </div>
    <div class="content">
      <h4>DB号</h4>
      <div *ngIf="searchedDBDataList === undefined || searchedDBDataList?.length === 0">
        暂无数据
      </div>
      <div *ngIf="searchedDBDataList?.length > 0">
        <p *ngFor="let db of searchedDBDataList">
          <span>{{db.nodNumber}} : {{db.description}}</span>
        </p>
      </div>
    </div>
  </p-dialog>

  <p-dialog class="reportDownload" [modal]="true" [draggable]="false" [(visible)]="reportDownloadDialog"
            [closable]="true" [width]="500">
    <p-header>
      <div class="header">报表浏览下载</div>
    </p-header>

    <div class="content">
      <div>
        下载地址: <a [href]="urlForReportAddress" (click)="closeReportDialog()">{{fileName}}</a>
      </div>
    </div>
  </p-dialog>

  <!-- loading bar -->
  <div class="loading_icon" *ngIf="showLoading"></div>
</div>
