<div class="promotion">
  <div class="db_info">
    <span>DB号: {{dbNumber}}</span>
  </div>

  <app-select-data-section [datas]="datas | async" [nodOrDBNumbers]="nodOrDBNumbers"
                           [nodItemOrDBItemNumbers]="nodItemOrDBItemNumbers" [selectedItem]="selectedNodItems"
                           [nodItemOptions]="nodItemOptions" [showLoading]="showLoading"
                           (createItemEvt)="createNewItem($event)"></app-select-data-section>
  <app-modify-data-section [editedDBDatas]="editedDBDatas" [commonSetting]="commonSetting"
                           [BonusDetailsOptions]="BonusDetailsOptions"
                           [isShowByAnnualPolicy]="isShowByAnnualPolicy" [BonusTypeOptions]="BonusTypeOptions"
                           [nodItemOptions]="nodItemOptions" [createdDBType]="createdDBType"
                           (changeValueByPercentEvt)="changeValueByPercent($event)" (changeValueEvt)="changeValueByMSRP($event)"
                           (createNewDBEvt)="createNewDB()"></app-modify-data-section>
  <app-save-data-section [savedDBDatas]="createdDBDatas | async"></app-save-data-section>
</div>
