.promotion {
  .db_info {
    span {
      font-size: 14px;
      margin-right: 30px;
    }
  }

  .createItem_area, .updateItem_area {
    margin-top: 15px;

    h4 {
      position: absolute;
      left: 36px;
    }

    .createItem, .saveItem {
      position: absolute;
      right: 5px;
      top: 7px;
    }

    .edit_area {
      padding: 10px;

      .fast_process, .bonusType {
        margin-right: 10px;
      }
    }
  }
}

