<div class="promotion">
  <div class="db_info">
    <span>DB号: {{dbNumber}}</span>
    <span>奖金类型: {{bonusType}}</span>
  </div>

  <app-select-data-section [datas]="datas | async" [selectedItem]="selectedNodItems" [nodItemOptions]="nodItemOptions" (createItemEvt)="createNewItem($event)"></app-select-data-section>
  <app-modify-data-section [editedDBDatas] = "editedDBDatas" [commonSetting]="commonSetting" [nodItemOptions]="nodItemOptions"
  (changeValueByPercentEvt)="changeValueByPercent($event)" (changeValueEvt)="changeValueByMSRP($event)"
   (createNewDBEvt)="createNewDB()"></app-modify-data-section>
  <app-save-data-section [savedDBDatas]="createdDBDatas | async"></app-save-data-section>
</div>
