.saveItem_area {
  margin-top: 15px;
  overflow-x: hidden;

  h4 {
    position: absolute;
    left: 36px;
  }

  table>tbody>tr>td {
    padding: 10px;
  }

  p {
    padding: 10px;
    border-top: 1px solid #dbdbdb;
    //border-bottom: 1px solid #dbdbdb;
  }

  //p:last-child {
  //  border-bottom: 1px solid #dbdbdb;
  //}

  p.basicInfo {
    border: none;
  }

  .saveItem {
    position: absolute;
    right: 5px;
    top: 7px;
  }

  .edit_area {
    padding: 10px;

    .fast_process, .bonusType {
      margin-right: 10px;
    }
  }

  .delete_icon, .modify_icon {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    background-color: red;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    i {
      position: absolute;
      top: 3px;
      left: 5px;
      font-size: 18px;
      color: white;
    }
  }

  .modify_icon {
    background-color: #2399e5;
  }
}
