<div class="saveItem_area">
  <p-panel [toggleable]="true">
    <p-header>
      <h4>已建新Item</h4>
      <button pButton class="saveItem" [disabled]="!(savedDBDatas && savedDBDatas.length > 0)" label="审批"></button>
    </p-header>

    <p-dataTable [value]="savedDBDatas" scrollable="true" *ngIf="savedDBDatas && savedDBDatas.length > 0">
      <p-column header="操作" [style]="{'width':'50px','text-align':'center','padding':'10px 0'}">
        <ng-template let-db="rowData" pTemplate="body">
          <a href="" [attr.href]="db['nodItemNumber']" class="delete_icon"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
          <a href="" [attr.href]="db['nodItemNumber']" class="modify_icon"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        </ng-template>
      </p-column>
      <p-column header="基本信息" [style]="{'width':'140px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p class="basicInfo">
            ITEM: {{db['nodItemNumber']}}
          </p>
          <p class="basicInfo">
            描述： {{db['setting_condition']['desc']}}
          </p>
          <p class="basicInfo">
            快速流程:
            <p-checkbox name="fast_process" class="fast_process" value="" [disabled]="true"
                        [(ngModel)]="db['setting_condition']['fastProcess']" binary="true"></p-checkbox>
          </p>
        </ng-template>
      </p-column>
      <p-column header="车系" [style]="{'width':'80px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['carSeries']}}
          </p>
        </ng-template>
      </p-column>
      <p-column header="财务描述" [style]="{'width':'140px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['financialDescription']}}
          </p>
        </ng-template>
      </p-column>
      <p-column header="MSRP" [style]="{'width':'110px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['msrp']}}
          </p>
        </ng-template>
      </p-column>
      <p-column header="开始时间" [style]="{'width':'100px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{db['setting_condition']['startTime'] | date:'yyyy/MM/dd'}}
          </p>
        </ng-template>
      </p-column>
      <p-column header="结束时间" [style]="{'width':'100px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{db['setting_condition']['endTime'] | date:'yyyy/MM/dd'}}
          </p>
        </ng-template>
      </p-column>
      <p-column header="类型" [style]="{'width':'80px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['itemType'] === '1' ? '促销比例' : '总金额'}}
          </p>
        </ng-template>
      </p-column>
      <p-column header="拷车比例" [style]="{'width':'80px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['callOffPromotionPercent']}}%
            <p-checkbox [(ngModel)]="data['isCallOffPromotionPercent']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
          </p>
        </ng-template>
      </p-column>
      <p-column header="拷车金额" [style]="{'width':'130px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['callOffPromotionAmount']}}
            <p-checkbox [(ngModel)]="data['isCallOffPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
          </p>
        </ng-template>
      </p-column>
      <p-column header="交车比例" [style]="{'width':'80px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['deliveryPromotionPercent']}}%
            <p-checkbox [(ngModel)]="data['isDeliveryPromotionPercent']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
          </p>
        </ng-template>
      </p-column>
      <p-column header="交车金额" [style]="{'width':'130px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['deliveryPromotionAmount']}}
            <p-checkbox [(ngModel)]="data['isDeliveryPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
          </p>
        </ng-template>
      </p-column>
      <p-column header="经销商库存比例" [style]="{'width':'80px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['dealerInventoryPercent']}}%
            <p-checkbox [(ngModel)]="data['isDealerInventoryPercent']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
          </p>
        </ng-template>
      </p-column>
      <p-column header="经销商库存金额" [style]="{'width':'130px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['dealerInventoryAmount']}}
            <p-checkbox [(ngModel)]="data['isDealerInventoryAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
          </p>
        </ng-template>
      </p-column>
      <p-column header="单车总预算比例" [style]="{'width':'60px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['singlecarTotalBudgetPercent']}}%
          </p>
        </ng-template>
      </p-column>
      <p-column header="单车总预算金额" [style]="{'width':'110px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['singlecarTotalBudgetAmount']}}
          </p>
        </ng-template>
      </p-column>
      <p-column header="金融比例" [style]="{'width':'60px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['financial'] ? data['financial']['financialPercent'] + '%' : '&nbsp;'}}
          </p>
        </ng-template>
      </p-column>
      <p-column header="金融金额" [style]="{'width':'110px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['financial'] ? data['financial']['financialAmount'] : '&nbsp;'}}
            <p-checkbox *ngIf="data['financial']" [(ngModel)]="data['financial']['isFinancialPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
          </p>
        </ng-template>
      </p-column>
      <p-column header="保险比例" [style]="{'width':'60px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['insurance'] ? data['insurance']['insurancePercent'] + '%' : '&nbsp;'}}
          </p>
        </ng-template>
      </p-column>
      <p-column header="保险金额" [style]="{'width':'110px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['insurance'] ? data['insurance']['insuranceAmount'] : '&nbsp;'}}
            <p-checkbox *ngIf="data['insurance']" [(ngModel)]="data['insurance']['isInsurancePromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
          </p>
        </ng-template>
      </p-column>
      <p-column header="置换比例" [style]="{'width':'60px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['replacement'] ? data['replacement']['replacementPercent'] + '%' : '&nbsp;'}}
          </p>
        </ng-template>
      </p-column>
      <p-column header="置换金额" [style]="{'width':'110px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['replacement'] ? data['replacement']['replacementAmount'] : '&nbsp;'}}
            <p-checkbox *ngIf="data['replacement']" [(ngModel)]="data['replacement']['isReplacementPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
          </p>
        </ng-template>
      </p-column>
      <p-column header="延保比例" [style]="{'width':'60px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['expandInsurance'] ? data['expandInsurance']['expandInsurancePercent'] + '%' : '&nbsp;'}}
          </p>
        </ng-template>
      </p-column>
      <p-column header="延保金额" [style]="{'width':'110px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['expandInsurance'] ? data['expandInsurance']['expandInsuranceAmount'] : '&nbsp;'}}
            <p-checkbox *ngIf="data['expandInsurance']" [(ngModel)]="data['expandInsurance']['isExpandInsurancetPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
          </p>
        </ng-template>
      </p-column>
      <p-column header="保养比例" [style]="{'width':'60px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['maintain'] ? data['maintain']['maintainPercent'] + '%' : '&nbsp;'}}
          </p>
        </ng-template>
      </p-column>
      <p-column header="保养金额" [style]="{'width':'110px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['maintain'] ? data['maintain']['maintainAmount'] : '&nbsp;'}}
            <p-checkbox *ngIf="data['maintain']" [(ngModel)]="data['maintain']['isMaintainPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
          </p>
        </ng-template>
      </p-column>
      <p-column header="附件比例" [style]="{'width':'60px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['attachment'] ? data['attachment']['attachmentPercent'] + '%' : '&nbsp;'}}
          </p>
        </ng-template>
      </p-column>
      <p-column header="附件金额" [style]="{'width':'110px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['attachment'] ? data['attachment']['attachmentAmount'] : '&nbsp;'}}
            <p-checkbox *ngIf="data['attachment']" [(ngModel)]="data['attachment']['isAttachmentPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
          </p>
        </ng-template>
      </p-column>
      <p-column header="onStar比例" [style]="{'width':'60px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['onStar'] ? data['onStar']['onStarPercent'] + '%' : '&nbsp;'}}
          </p>
        </ng-template>
      </p-column>
      <p-column header="onStar金额" [style]="{'width':'110px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['onStar'] ? data['onStar']['onStarAmount'] : '&nbsp;'}}
            <p-checkbox *ngIf="data['onStar']" [(ngModel)]="data['onStar']['isOnStarPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
          </p>
        </ng-template>
      </p-column>
      <p-column header="融资租赁-签约比例" [style]="{'width':'60px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['assignment'] ? data['assignment']['assignmentPercent'] + '%' : '&nbsp;'}}
          </p>
        </ng-template>
      </p-column>
      <p-column header="融资租赁-签约金额" [style]="{'width':'110px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['assignment'] ? data['assignment']['assignmentAmount'] : '&nbsp;'}}
            <p-checkbox *ngIf="data['assignment']" [(ngModel)]="data['assignment']['isAssignmentPromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
          </p>
        </ng-template>
      </p-column>
      <p-column header="融资租赁-回购比例" [style]="{'width':'60px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['purchase'] ? data['purchase']['purchasePercent'] + '%' : '&nbsp;'}}
          </p>
        </ng-template>
      </p-column>
      <p-column header="融资租赁-回购金额" [style]="{'width':'110px'}">
        <ng-template let-db="rowData" pTemplate="body">
          <p *ngFor="let data of db['promotional_ratio']">
            {{data['purchase'] ? data['purchase']['purchaseAmount'] : '&nbsp;'}}
            <p-checkbox *ngIf="data['purchase']" [(ngModel)]="data['purchase']['isPurchasePromotionAmount']" [disabled]="true" binary="true" styleClass="nod_item_box"></p-checkbox>
          </p>
        </ng-template>
      </p-column>
    </p-dataTable>
  </p-panel>
</div>

